aiogram
aiomysql
sqlalchemy
mutagen
aiohttp
datetime~=5.2
aioredis~=2.0.1
redis
openai
tiktoken
urllib3
tqdm
fluent~=0.10.0
numpy
essentia
pydantic
fluent.runtime
requests
apscheduler
elevenlabs
flask[async]
flask-admin[async]
flask-login[async]
werkzeug