aiogram==3.1.0
aiomysql
sqlalchemy==2.0.19
mutagen~=1.46.0
aiohttp
datetime~=5.2
aioredis~=2.0.1
redis
openai==0.28
tiktoken
urllib3
tqdm
fluent~=0.10.0
numpy~=1.25.1
essentia
pydantic
fluent.runtime
requests~=2.31.0
