{% extends 'admin/master.html' %}
{% block body %}
    <h2>Почты с курса {{ course_name }}</h2>
    <form action="" method="get">
        <select name="course">
            <option value="np_pro" {% if course_name == 'np_pro' %}selected{% endif %}>NP Pro</option>
            <option value="zoom" {% if course_name == 'zoom' %}selected{% endif %}>Zoom</option>
        </select>
        <button type="submit">Get Emails</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if emails %}
        <p>{{ emails|map(attribute='email')|join(', ') }}</p>
    {% else %}
        <p>No emails found.</p>
    {% endif %}
{% endblock %}