{% extends 'admin/master.html' %}
{% if current_user.is_authenticated %}
{% block body %}
    <form method="POST">
        <div class="form-group">
            <label for="chat_name">Выберите чат:</label>
            <select id="chat_name" name="chat_name" class="form-control">
                <option value="academy_chat">Нейропанк Академия</option>
                <option value="np_pro">PRO (КОНТЕНТ ПО ПОДПИСКЕ)</option>
                <option value="np_basic">НАЧАЛЬНЫЙ #1 - от 0 до паладина!</option>
                <option value="liquid_chat">ЛИКВИД КУРС</option>
                <option value="super_pro">SUPER PRO#1 (DNB)</option>
                <option value="neuro">НЕЙРОФАНК КУРС</option>
                <option value="nerve">NERV3 Продуктивность Level 99 #1</option>
                <option value="girls">DNB Курс - только девушки!</option>
                <option value="zoom">ZOOM #1</option>
                <option value="receptor">Композитор Level 99 #1 от Receptor</option>
                <option value="gydra">Gydra - Синтез по-профессорски #1</option>
                <option value="fll21free">КУРС FL STUDIO 21 - FREE</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info">Установить чат стрима</button>
    </form>
{% endblock %}
{% endif %}